.work,
:root {
  --primary-deep-red: #d90429;
  --primary-dark-grey: #2b2d42;
}

.work * {
  box-sizing: border-box;
}
.work {
  background: #ffffff;
  width: 1440px;
  height: 1894px;
  position: relative;
  overflow: hidden;
}

.bottom {
  height: 112px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.buttom {
  background: var(--primary-dark-grey, #2b2d42);
  width: 1440px;
  height: 112px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.buttomline {
  background: var(--primary-light-red, #ef233c);
  width: 1440px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 80px;
}

.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 328.49px;
  height: 39px;
  position: absolute;
  left: calc(50% - 164px);
  top: 24px;
}

.created-by-hu-shengyuan {
  color: #ffffff;
  text-align: center;
  font: var(--primary-content, 300 20px/24px "Space Grotesk", sans-serif);
  position: relative;
  width: 324px;
  height: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hushengyuan-030831-gmail-com {
  color: #ffffff;
  text-align: center;
  font: var(--smaller-content, 300 16px/16px "Space Grotesk", sans-serif);
  position: relative;
  width: 331px;
  height: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.top-bar {
  padding: 0px 100px 0px 100px;
  display: flex;
  flex-direction: row;
  gap: 36px;
  align-items: flex-end;
  justify-content: center;
  height: 152px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.home-logo {
  flex-shrink: 0;
  width: 56px;
  height: 81px;
  position: relative;
  overflow: hidden;
}

.group {
  position: absolute;
  inset: 0;
}

.vector {
  position: absolute;
  left: 0.29px;
  top: 0.87px;
  overflow: visible;
}

.vector2 {
  position: absolute;
  left: 0.93px;
  top: 26.59px;
  overflow: visible;
}

.vector3 {
  position: absolute;
  left: 0px;
  top: 68.31px;
  overflow: visible;
}

.xmlid-1 {
  width: 40.41px;
  height: 80.42px;
  position: static;
}

.group2 {
  position: absolute;
  left: 15.01px;
  top: 0.17px;
  overflow: visible;
}

.group3 {
  position: absolute;
  left: 15.01px;
  top: 0.17px;
  overflow: visible;
}

.top-space {
  flex-shrink: 0;
  width: 680px;
  height: 8px;
  position: relative;
}

.home {
  flex-shrink: 0;
  width: 90px;
  height: 24px;
  position: relative;
}

.home2 {
  width: 90px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.home-chosen {
  color: var(--primary-dark-grey);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 24px;
}

.work2 {
  flex-shrink: 0;
  width: 90px;
  height: 24px;
  position: relative;
}

.work-chosen {
  color: var(--primary-deep-red);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 24px;
}

.contact {
  flex-shrink: 0;
  width: 98px;
  height: 24px;
  position: relative;
}

.contact-default {
  color: var(--primary-dark-grey);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 98px;
  height: 24px;
}

.about-me {
  width: 1300px;
  height: 616px;
  position: absolute;
  left: 70px;
  top: 1088px;
  overflow: hidden;
}

.rectangle-3 {
  background: #d9d9d9;
  width: 1300px;
  height: 720px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.current-content {
  background: var(--primary-dark-grey, #2b2d42);
  width: 1300px;
  height: 104px;
  position: absolute;
  left: 70px;
  top: 920px;
}

.topic {
  color: #ffffff;
  text-align: left;
  font: var(--primary-title, 400 48.83px/64px "Space Grotesk", sans-serif);
  position: absolute;
  left: 180px;
  top: 952px;
  width: 310px;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.contents {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1080px;
  position: absolute;
  left: 180px;
  top: 552px;
  overflow-x: auto;
}

.content-1 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 310px;
  height: 304px;
  position: relative;
}

.content-2 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 310px;
  height: 304px;
  position: relative;
}

.content-3 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 310px;
  height: 304px;
  position: relative;
}

.content-4 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 310px;
  height: 304px;
  position: relative;
}

.content-5 {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 310px;
  height: 304px;
  position: relative;
}

.topcontent {
  background: #d9d9d9;
  width: 1080px;
  height: 272px;
  position: absolute;
  left: 180px;
  top: 256px;
}
