:root {
  --primary-deep-red: rgb(217, 4, 41);
  --primary-dark-grey: rgb(43, 45, 66);
}

.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}

.bottom {
  height: 112px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.buttom {
  background: var(--primary-dark-grey, #2b2d42);
  width: 1440px;
  height: 112px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.buttomline {
  background: var(--primary-light-red, #ef233c);
  width: 1440px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 80px;
}

.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 328.49px;
  height: 39px;
  position: absolute;
  left: calc(50% - 164px);
  top: 24px;
}

.created-by-hu-shengyuan {
  color: #ffffff;
  text-align: center;
  font: var(--primary-content, 300 20px/24px "Space Grotesk", sans-serif);
  position: relative;
  width: 324px;
  height: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hushengyuan-030831-gmail-com {
  color: #ffffff;
  text-align: center;
  font: var(--smaller-content, 300 16px/16px "Space Grotesk", sans-serif);
  position: relative;
  width: 331px;
  height: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.top-bar {
  padding: 0px 100px 0px 100px;
  height: 184px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.home-logo {
  width: 56px;
  height: 81px;
  position: absolute;
  left: 141px;
  top: 71px;
  overflow: hidden;
}

.group {
  position: absolute;
  inset: 0;
}

.vector {
  position: absolute;
  left: 0.29px;
  top: 0.87px;
  overflow: visible;
}

.vector2 {
  position: absolute;
  left: 0.93px;
  top: 26.59px;
  overflow: visible;
}

.vector3 {
  position: absolute;
  left: 0px;
  top: 68.31px;
  overflow: visible;
}

.xmlid-1 {
  width: 40.41px;
  height: 80.42px;
  position: static;
}

.group2 {
  position: absolute;
  left: 15.01px;
  top: 0.17px;
  overflow: visible;
}

.group3 {
  position: absolute;
  left: 15.01px;
  top: 0.17px;
  overflow: visible;
}

.top-space {
  width: 680px;
  height: 8px;
  position: absolute;
  left: 233px;
  top: 144px;
}

.home {
  width: 90px;
  height: 24px;
  position: absolute;
  left: 949px;
  top: 128px;
}

.home-chosen {
  color: var(--primary-dark-grey, #2b2d42);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 24px;
}

.work {
  width: 90px;
  height: 24px;
  position: absolute;
  left: 1075px;
  top: 128px;
}

.work-default {
  color: var(--primary-dark-grey, #2b2d42);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 24px;
}

.contact2 {
  width: 98px;
  height: 24px;
  position: absolute;
  left: 1201px;
  top: 128px;
}

.contact-chosen {
  color: var(--primary-deep-red, #d90429);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 98px;
  height: 24px;
}

.contact-with-me {
  color: #000000;
  text-align: center;
  font: var(--primary-title, 400 48.83px/64px "Space Grotesk", sans-serif);
  position: absolute;
  left: 490px;
  top: 232px;
  width: 459px;
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Email-input {
  background: var(--primary-background, #edf2f4);
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 32px;
  position: absolute;
  right: 400px;
  left: 400px;
  top: 400px;
  color: #000000;
  text-align: left;
  font: var(--primary-content, 300 20px/24px "Space Grotesk", sans-serif);
}

.Content-Input {
  background: var(--primary-background, #edf2f4);
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 213px;
  position: absolute;
  right: 400px;
  left: 400px;
  top: 488px;
  color: #000000;
  text-align: left;
  font: var(--primary-content, 300 20px/24px "Space Grotesk", sans-serif);
}

.your-mail {
  color: #000000;
  text-align: center;
  font: var(--sub-title, 400 31.25px/40px "Space Grotesk", sans-serif);
  position: absolute;
  left: 389px;
  top: 360px;
  width: 157px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  color: #000000;
  text-align: center;
  font: var(--sub-title, 400 31.25px/40px "Space Grotesk", sans-serif);
  position: absolute;
  left: 389px;
  top: 448px;
  width: 157px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.how-can-i-get-in-touch-with-you {
  color: #000000;
  text-align: center;
  font: var(--primary-content, 300 20px/24px "Space Grotesk", sans-serif);
  opacity: 0.5;
  position: absolute;
  left: 418px;
  top: 405px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.any-comment-about-this-site {
  color: #000000;
  text-align: center;
  font: var(--primary-content, 300 20px/24px "Space Grotesk", sans-serif);
  opacity: 0.5;
  position: absolute;
  left: 418px;
  top: 495px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.submit {
  background: var(--primary-light-grey, #8d99ae);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--primary-dark-grey, #2b2d42);
  border-width: 0px;
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  position: absolute;
  left: 620px;
  top: 736px;
  overflow: hidden;
}

.submit2 {
  color: #ffffff;
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
