:root {
  --primary-deep-red: rgb(217, 4, 41);
  --primary-dark-grey: rgb(43, 45, 66);
}
.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.bottom {
  height: 112px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.rectangle-6 {
  background: #000000;
  width: 1440px;
  height: 112px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  width: 328.49px;
  height: 39px;
  position: absolute;
  left: calc(50% - 164px);
  top: 36px;
}

.created-by-hu-shengyuan {
  color: #ffffff;
  text-align: center;
  font: var(--primary-content, 300 20px/24px "Space Grotesk", sans-serif);
  position: relative;
  width: 324px;
  height: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hushengyuan-030831-gmail-com {
  color: #ffffff;
  text-align: center;
  font: var(--smaller-content, 300 16px/16px "Space Grotesk", sans-serif);
  position: relative;
  width: 331px;
  height: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.contact-with-me {
  color: #000000;
  text-align: center;
  font: var(--primary-title, 400 48.83px/64px "Space Grotesk", sans-serif);
  position: absolute;
  left: calc(50% - 230px);
  top: 170px;
  width: 459px;
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.email-input {
  background: var(--primary-background, #edf2f4);
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 32px;
  position: absolute;
  right: 400px;
  left: 400px;
  top: calc(50% - 136px);
}

.content-input {
  background: var(--primary-background, #edf2f4);
  border-radius: 8px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  height: 213px;
  position: absolute;
  right: 400px;
  left: 400px;
  top: calc(50% - 48px);
}

.your-mail {
  color: #000000;
  text-align: center;
  font: var(--sub-title, 400 31.25px/40px "Space Grotesk", sans-serif);
  position: absolute;
  left: 389px;
  top: calc(50% - 165px);
  width: 157px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  color: #000000;
  text-align: center;
  font: var(--sub-title, 400 31.25px/40px "Space Grotesk", sans-serif);
  position: absolute;
  left: 389px;
  top: calc(50% - 80px);
  width: 157px;
  height: 32px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.submit {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--primary-dark-grey, #2b2d42);
  border-width: 1px;
  padding: 6px 0px 6px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 40px;
  position: absolute;
  right: 500px;
  left: 500px;
  top: calc(50% - -192px);
  overflow: hidden;
}

.submit2 {
  color: #000000;
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.top-bar {
  padding: 0px 100px 0px 100px;
  height: 144px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.home-logo {
  width: 48px;
  height: 69px;
  position: absolute;
  left: 160px;
  top: 27px;
  overflow: hidden;
}

.group {
  position: absolute;
  inset: 0;
}

.vector {
  position: absolute;
  left: 0.25px;
  top: 0.74px;
  overflow: visible;
}

.vector2 {
  position: absolute;
  left: 0.8px;
  top: 22.65px;
  overflow: visible;
}

.vector3 {
  position: absolute;
  left: 0px;
  top: 58.19px;
  overflow: visible;
}

.xmlid-1 {
  width: 34.63px;
  height: 68.51px;
  position: static;
}

.group2 {
  position: absolute;
  left: 12.87px;
  top: 0.15px;
  overflow: visible;
}

.group3 {
  position: absolute;
  left: 12.87px;
  top: 0.15px;
  overflow: visible;
}

.top-space {
  width: 680px;
  height: 8px;
  position: absolute;
  left: 233px;
  top: 144px;
}

.home {
  width: 90px;
  height: 24px;
  position: absolute;
  right: 419px;
  top: 76px;
}

.home-chosen {
  color: var(--primary-dark-grey, #2b2d42);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 24px;
}

.work {
  width: 90px;
  height: 24px;
  position: absolute;
  right: 293px;
  top: 76px;
}

.work-default {
  color: var(--primary-dark-grey, #2b2d42);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 90px;
  height: 24px;
}

.contact2 {
  width: 98px;
  height: 24px;
  position: absolute;
  right: 159px;
  top: 76px;
}

.contact-chosen {
  color: var(--primary-deep-red, #d90429);
  text-align: center;
  font: var(--buttons, 500 25px "Space Grotesk", sans-serif);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 98px;
  height: 24px;
}
