:root {
  --primary-deep-red: rgb(217, 4, 41);
  --primary-dark-grey: rgb(43, 45, 66);
}

html {
  font-size: 16px;
}

.work,
.work * {
  box-sizing: border-box;
}
.work {
  background: #ffffff;
  width: 100%;
  height: 98.4375rem;
  position: relative;
  overflow: hidden;
}
.download-area {
  background: var(--primary-light-grey, #8d99ae);
  width: 26.25rem;
  height: 30.5rem;
  position: absolute;
  left: 59.375rem;
  top: 11rem;
}
.top-bar {
  padding: 0rem 4.375rem 0rem 4.375rem;
  height: 6rem;
  position: absolute;
  right: 0rem;
  left: 0rem;
  top: 0rem;
  overflow: hidden;
}
.shengyuan-hu {
  color: #000000;
  text-align: center;
  font: var(--sub-title, 400 1.953125rem/2.5rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 9.75rem;
  bottom: 1rem;
  width: 13.9375rem;
  height: 1.4375rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.top-bar-space {
  width: 39.0625rem;
  height: 3.375rem;
  position: absolute;
  left: 24.4625rem;
  top: 1.5625rem;
}
.home {
  width: 5.625rem;
  height: 1.5rem;
  position: absolute;
  right: 19.275rem;
  bottom: 1.5rem;
}
.home-chosen {
  color: var(--primary-dark-grey, #2b2d42);
  text-align: center;
  font: var(--buttons, 500 1.5625rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 5.625rem;
  height: 1.5rem;
}
.work2 {
  width: 5.625rem;
  height: 1.5rem;
  position: absolute;
  right: 12.075rem;
  bottom: 1.5rem;
}
.work-chosen {
  color: var(--primary-deep-red, #d90429);
  text-align: center;
  font: var(--buttons, 500 1.5625rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 5.625rem;
  height: 1.5rem;
}
.contact {
  width: 6.125rem;
  height: 1.5rem;
  position: absolute;
  right: 4.375rem;
  bottom: 1.5rem;
}
.contact-default {
  color: #000000;
  text-align: center;
  font: var(--buttons, 500 1.5625rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 6.125rem;
  height: 1.5rem;
}
.logo {
  width: 2.25rem;
  height: 3.3125rem;
  position: absolute;
  left: 4.375rem;
  top: 1.6875rem;
}
.topline {
  border-style: solid;
  border-color: var(--primary-light-grey, #8d99ae);
  border-width: 0.0625rem 0 0 0;
  width: 90rem;
  height: 0rem;
  position: absolute;
  left: 0rem;
  top: 5.5rem;
}
.boards {
  width: 26.25rem;
  height: 18.25rem;
  position: absolute;
  left: 31.875rem;
  top: 23.25rem;
}
.papers {
  width: 26.25rem;
  height: 18.25rem;
  position: absolute;
  left: 4.375rem;
  top: 23.25rem;
}
.title-1 {
  color: var(--primary-deep-red, #d90429);
  text-align: left;
  font: 500 8rem/4.5rem "Space Grotesk", sans-serif;
  position: absolute;
  left: 4.3rem;
  top: 11.25rem;
  width: 50.625rem;
  height: 7rem;
}
.subtile-1 {
  color: #000000;
  text-align: left;
  font: 400 3rem/4rem "Space Grotesk", sans-serif;
  position: absolute;
  left: 4.5rem;
  top: 17rem;
  width: 40.625rem;
  height: 3rem;
}
.title-2 {
  color: var(--primary-deep-red, #d90429);
  text-align: left;
  font: 500 8rem/4.5rem "Space Grotesk", sans-serif;
  position: absolute;
  left: 4.1rem;
  top: 51rem;
  width: 40.375rem;
  height: 7rem;
}
.subtitle-2 {
  color: #000000;
  text-align: left;
  font: 400 3rem/4rem "Space Grotesk", sans-serif;
  position: absolute;
  left: 4.5rem;
  top: 57rem;
  width: 60.875rem;
  height: 3rem;
}
.instruct-1 {
  color: #ffffff;
  text-align: left;
  font: var(--primary-content, 300 1.25rem/1.5rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 60.375rem;
  top: 13.5rem;
  width: 24.125rem;
  height: 2.5rem;
}
.download-sugg {
  color: #ffffff;
  text-align: left;
  font: 300 1.5rem/1.5rem "Space Grotesk", sans-serif;
  position: absolute;
  left: 60.375rem;
  top: 32.375rem;
  width: 25.25rem;
  height: 1.625rem;
}
.skill-1 {
  background: var(--primary-background, #edf2f4);
  border-radius: 0.3125rem;
  padding: 0rem 1.875rem 0rem 1.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 24.125rem;
  height: 3rem;
  position: absolute;
  left: 60.375rem;
  top: 17.5rem;
  overflow: hidden;
}
.ski-1 {
  color: #000000;
  text-align: left;
  font: var(--primary-content, 300 1.25rem/1.5rem "Space Grotesk", sans-serif);
  position: relative;
}
.skill-12 {
  background: var(--primary-background, #edf2f4);
  border-radius: 0.3125rem;
  padding: 0rem 1.875rem 0rem 1.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 24.125rem;
  height: 3rem;
  position: absolute;
  left: 60.375rem;
  top: 21.5rem;
  overflow: hidden;
}
.download-button {
  background: #ffffff;
  border-radius: 0.625rem;
  padding: 0.75rem 0rem 0.75rem 0rem;
  width: 24.125rem;
  height: 4.5rem;
  position: absolute;
  left: 60.375rem;
  top: 35rem;
  overflow: hidden;
}
.download-info {
  color: #000000;
  text-align: left;
  font: var(--primary-content, 300 1.25rem/1.5rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 5.8125rem;
  top: 0.75rem;
  width: 17.1875rem;
  height: 2.75rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.download-icon {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1.5625rem;
  top: 0.7rem;
}
.creator {
  color: #000000;
  text-align: center;
  font: var(--smaller-content, 300 1rem/1rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 18.125rem;
  bottom: 0rem;
  width: 46.875rem;
  height: 2rem;
}
.skill-13 {
  background: var(--primary-light-grey, #8d99ae);
  border-radius: 0.3125rem;
  padding: 0rem 1.875rem 0rem 1.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 19.375rem;
  height: 3rem;
  position: absolute;
  left: 4.4375rem;
  top: 61.5rem;
  overflow: hidden;
}
.ski-12 {
  color: var(--primary-background, #edf2f4);
  text-align: left;
  font: var(--primary-content, 300 1.25rem/1.5rem "Space Grotesk", sans-serif);
  position: relative;
}
.skill-14 {
  background: var(--primary-light-grey, #8d99ae);
  border-radius: 0.3125rem;
  padding: 0rem 1.875rem 0rem 1.875rem;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  width: 19.375rem;
  height: 3rem;
  position: absolute;
  left: 25rem;
  top: 61.5rem;
  overflow: hidden;
}
.process-instruct {
  width: 81.3125rem;
  height: 21.875rem;
  position: absolute;
  left: 4.4375rem;
  top: 65rem;
}
.instruct-3 {
  color: #000000;
  text-align: left;
  font: var(--sub-title, 400 1.953125rem/2.5rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 4.4375rem;
  top: 87.375rem;
  width: 75.625rem;
  height: 2.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.hrefimage {
  width: 1.375rem;
  height: 1.4625rem;
  position: absolute;
  left: 58.3125rem;
  top: 90.75rem;
}
.hrefcontent {
  color: var(--primary-deep-red, #d90429);
  text-align: left;
  font: var(--sub-title, 400 1.953125rem/2.5rem "Space Grotesk", sans-serif);
  position: absolute;
  left: 4.4375rem;
  top: 90.5625rem;
  width: 53.5625rem;
  height: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
